@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.heading{
    font-size: 3rem;
    text-align: center;
}

.sobre{
    min-height: auto;
    padding-bottom: 7rem;
}

.sobre h2{
    margin-bottom: 5rem;
    margin-top: -20%;
}

.sobre h2 span{
    color: mintcream;
}
.sobre .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    margin-left: 10%;
   margin-right: 3%;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: white;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
    text-align: justify;
}

.services-container .services-box:hover{
    box-shadow: 0 .1rem .2rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box img{
    width: 80px;
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
    text-align: center;
}

.services-box:hover h3{
    color: var(--main-color);
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* sobre design fim */